/**
 *
 * Apply Here your Custom CSS
 *
*/

.page-container .sidebar-menu .logo-env {
    background-color: #ffffff;
    border-right: 1px solid #eeeeee;
}

body .login-container .login-header {
    background-color: #ffffff;
}

body.login-page p.description {color:#666666;}
div.flash {margin-top:20px;}

.jumbotron {
    color: #1c3484;
}

div.searchbox {margin-left: 30px}
.btn-searchbox {
    margin-left: -10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
body .navbar-inverse {
    border-color: #003471;
    background: #2E99FC;
}
.navbar-inverse .navbar-inner {
    color:#bfccdb;
    background: none;
    background-color: #003471;
    background-image: none;
    border-color: #252525;
}
.navbar-inverse .brand, .navbar-inverse .nav>li>a {
    color: #bfccdb;
}